/* #text1{
  color: cadetblue;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 650;
  font-size: 1.5em;
  text-shadow: 2px 2px rgb(43, 43, 37);
}
#text{
  color: blueviolet;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 26x;
  text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;
}
#horbar{
  margin: auto;
  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: right;
  position: fixed;
  top: 0;
  width: 100%;
  
  
  
}

#horbar a{
  margin: 0 20px;
  position: relative;
  color: #0f0e0e;
  text-transform: uppercase;
 

}
#horbar a:link{
  color: blue;
}
#horbar a:visited{
  color:black;
}
#horbar a:hover{
  color: #dd1b1b;
  text-decoration:underline;
  
}
#horbar a:active{
  color: green;
}

#navbar {

  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: gray;
  width: 200px;
  height: 100%;
  position: fixed;
  overflow: hidden;
  text-align: left;
  
}

#navbar li a{
  
  display: block;
  color: orange;
  padding: 8px 16px;
  text-decoration: none;

}

#navbar li a:hover{
  background-color: rgb(105, 161, 211);
  color: black;
 
}

.contact-info{
  display: grid;
  grid-template-columns: 45% 25% 30%;
}
footer{
  margin-left: 15%;
  background-color: #222222;
  padding: 20px;
  text-align: left;
  color: white;
} */
/* ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
}

li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}

/* Change the link color on hover */
/* li a:hover {
  background-color: #555;
  color: white;
}  */

#horbar{
  margin: auto;
  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: right;
  position: fixed;
  top: 0;
  width: 100%; 
  background-color: black;
}

#horbar a{
  margin: 20px;
  position: relative;
  text-transform: uppercase;
  text-decoration: none;
  color: white;
}