#text1{
  color: cadetblue;
  font-family: 'Courier New', Courier, monospace;/*font type*/
  font-weight: 650;/*specifies the thickness of the text*/
  font-size: 1.5em;
  text-shadow: 2px 2px rgb(43, 43, 37);
}
#text{
  color: blueviolet;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 26x;
  text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;
}